__pycache__/

#SSL ( THe *.crt is optional ) 
*.key 
*.crt 
 
#GDC related files 
gdc-user-token.* 
 
#OpenStack 
admin_auth 
.novarc 
 
#s3 creds 
.s3cfg 
.aws/

# Snyk integration
.dccache

# Various temp files for configs
.DS_Store
.coverage
.coverage.xml
coverage.xml

workspace/