language: python

python:
  - "3.8"

sudo: false

cache: pip

addons:
  postgresql: "9.6"

install:
  - curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python
  - source $HOME/.poetry/env
  - poetry install -vv
  - psql -c 'SELECT version();' -U postgres
  - psql -U postgres -c "create database thor_test_tmp"
  - poetry run python src/thor/create_all_tables.py
  - pip list

script:
  # - poetry run pytest -vv -s tests
  - $HOME/.local/bin/poetry run pytest --cov=src --cov-fail-under=60 --cov-report xml