services:
  app:
    image: thor
    container_name: thor
    build: ./
    ports:
      - "8001:80"
    volumes:
      - .:/src
    environment:
      - DB_HOST=db   # override only the host for Docker
      - DEVELOPMENT=true
    depends_on:
      - db
    command: poetry run uvicorn --host 0.0.0.0 --port 80 thor.main:app --reload
  db:
    image: postgres
    container_name: postgres
    ports: 
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_HOST_AUTH_METHOD=trust
